{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locations Explorer</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
    <link rel="stylesheet" href="{% static 'ui/styles.css' %}" />
  </head>
  <body>
    <div id="app"></div>

    {{ api_base_url|json_script:"api-base-url" }}
    <script>
      window.APP_CONFIG = {
        apiBaseUrl: JSON.parse(document.getElementById('api-base-url').textContent)
      }
    </script>

    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/3.5.22/vue.global.prod.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue-router/4.5.1/vue-router.global.prod.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue-i18n/11.1.12/vue-i18n.global.prod.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="{% static 'ui/app.js' %}?v=20260224-06"></script>
  </body>
</html>
